<script>
	import { onMount } from 'svelte';

	let achievements = [
			{ icon: null },
			{ icon: null, children_color: "#F55", children: [
				{ icon: null },
				{ icon: null },
				{ icon: null },
				{ icon: null }
				] },
			{ icon: null, children_color: "#55F",  children: [
				{ icon: null },
				{ icon: null }
				] },
			{ icon: null },
			{ icon: null },
			{ icon: null },
			{ icon: null, children: [
				{ icon: null },
				{ icon: null },
				{ icon: null },
				{ icon: null, children_color: "#F5F", children: [
					{ icon: null },
					{ icon: null },
					{ icon: null }
					]},
				{ icon: null },
				{ icon: null }
				] },
			{ icon: null },
			{ icon: null },
			{ icon: null }
		];

	let calculatedAchievements = [];

	const calculateAchievementsPosition = (list = achievements, offsetX = 0, offsetY = 0, parentOffsetY = 0, link_color = null) => {
		for (var i = 0; i < list.length; i++) {
			if (calculatedAchievements[offsetY] == undefined)
				calculatedAchievements[offsetY] = [];

			if (i == 0)
				list[i].linkupto = offsetY - parentOffsetY;

			if (i == list.length -1)
				list[i].nolink = true;

			list[i].link_color = link_color;
			calculatedAchievements[offsetY][offsetX] = list[i];

			if (list[i].hasOwnProperty("children")) {
				let childOffsetY = offsetY;
				for (var ok = false; !ok ;) {
					ok = true;
					childOffsetY++;

					if (calculatedAchievements[childOffsetY] == undefined)
						break;

					for (var j = 0; j < list[i].children.length; j++) {
						if (calculatedAchievements[childOffsetY][offsetX + j] != undefined) {
							ok = false;
							break;
						}
					}
				}

				calculateAchievementsPosition(list[i].children, offsetX, childOffsetY, offsetY, list[i].children_color);
			}

			offsetX++;
		}
	};

	onMount( () => {
		calculateAchievementsPosition();
		calculatedAchievements = calculatedAchievements;
		console.log(calculatedAchievements)
	});
	// child_step : le row pré-calculé. 1 par défaut. S'il y a un chevauchement, passer à +1...
</script>

<h1>Progression</h1>
<section>
	{#each calculatedAchievements as line, y}
		{#each line as achiev, x}
			{#if achiev != undefined}
				<div class="achievement"
					style:left={(70+x*170)+"px"} style:top={(30+y*130)+"px"}
					style:--linkupto={achiev.linkupto} style:--link_color={achiev.link_color}
					data-nolink={achiev.nolink}
					></div>
			{/if}
		{/each}
	{/each}

</section>

<style type="text/css">
	section {
		height: 100svh;
		overflow: auto;
		position: relative;
	}

	div {
		position: absolute;
		width: 100px;
		height: 100px;
		background-color: var(--background-1);
		border-radius: 50%;
		box-shadow: 0 0 16px -4px var(--primary);

		transition: box-shadow .2s;
	}

	div:hover {
		box-shadow: 0 0 16px -2px var(--primary);
	}

	div::before, div::after {
		content: '';
		position: absolute;
		z-index: -1;
		--border-width: 2px;
	}

	div::after {
		top: 50px; left: 100px;
		width: 70px; height: 0;
		border-top: var(--border-width) solid var(--link_color, #AAA);
	}

	div[data-nolink]::after {
		border-color: transparent;
	}

	div::before {
		left: 50px; bottom: 100px;
		border-left: var(--border-width) solid var(--link_color, #AAA);
		height: calc(var(--linkupto, 0) * 130px - 50px);
	}

</style>