<script>
	import { fly, fade } from 'svelte/transition';
	import { tick } from 'svelte';

	let conversations = [
		{ label: "Bad guy", picture: "vilain", last_msg_time: '12:39', last_msg: "Tu ne me trouveras pas !", notification: true },
		{ label: "Game Master", picture: "prisonner", last_msg_time: '16:45', last_msg: "Voici une petite aide : Il y a une boîte près d'un arbre ",notification: false }
	];

	let opened_conversation = null;
	const openConversation = async (conv) => {
		// Fetch messages
		opened_conversation = {
			conv,
			messages: [
				{ sent: false, content: `Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`, time: '12:13' },
				{ sent: true, content: "Hein ?", time: '12:14' },
				{ sent: false, content: "Tu ne me trouveras pas !", time: '12:20' },
				{ sent: true, content: "Tu vas voir !", time: '12:20', sending: true }
			]
		};

		await tick();
		const list = document.getElementById("message-list");
		list.scrollTo(0, list.scrollHeight)
	};

</script>


<h1>Messages</h1>
<section>
	{#each conversations as c}
		<button on:click={() => openConversation(c) }>
			<img src="/src/assets/{c.picture}.png" alt="PP">
			<div class="vert">
				<span class="label">{c.label}</span>
				<span>{c.last_msg}</span>
			</div>
			<div class:notification={c.notification}></div>
			<span>{c.last_msg_time}</span>
		</button>
	{:else}
		<p id="no-conversation">Personne ne vous a contacté.</p>
	{/each}
</section>

{#if opened_conversation != null}
	<article transition:fly={{ duration: 400, y: "100svh", opacity: 1 }}>
		<h2>{opened_conversation.conv.label}</h2>

		<button id="close" on:click={() => opened_conversation = null } in:fade={{ duration: 100, delay: 350 }}>
			Fermer la conversation
		</button>

		<div id="message-list">
			{#each opened_conversation.messages as message}
				<div class="message" class:sent={message.sent}>
					<img src={`/src/assets/${message.sent ? 'detective' : opened_conversation.conv.picture}.png`} alt="PP">
					<p class:sending={message.sending}>
						<span>{message.time}</span>
						{message.content}
					</p>
				</div>
			{:else}
				<p>Pas de message</p>
			{/each}
		</div>

		<div id="input">
			<input type="text" name="message" autocomplete="off">
			<button></button>
		</div>
	</article>
{/if}

<style type="text/css">
	section button {
		all: unset;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 20px;

		width: 100%;
		padding: 10px 15px;
		box-sizing: border-box;

		font-size: 14px;
		cursor: pointer;
	}

	section button:nth-child(2n+1) { background-color: var(--background-1); }

	section button * {
		flex: 0 0 auto;
	}

	section button img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: var(--background-2);
	}

	section button .vert {
		flex: 1 1 auto;
		min-width: 0;
	}

	section button .vert span {
		display: block;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	section button .label {
		font-size: 16px;
		font-weight: bold;
		align-self: start;
	}

	section button .notification {
		background-color: var(--secondary);
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	#no-conversation {
		margin: 25svh 0 0 0;
		text-align: center;
	}

	article {
		position: absolute;
		top: 64px; left: 0;
		width: 100svw;
		height: calc(100svh - 64px);

		background-color: var(--background-1);

		display: flex;
		flex-flow: column nowrap;
	}

	article h2 {
		margin: 0;
		font-size: 18px;
		background-color: var(--background);
		padding: 0 0 15px 0;
		text-align: center;
		box-shadow: 0 3px 3px var(--shadow);
		z-index: 298;
	}

	article #input {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding: 10px 15px;
		gap: 10px;
	}

	article #input input {
		all: unset;
		flex: 1 1 auto;
		height: 30px;
		padding: 0 10px;
		border-radius: 5px;
		font-size: 16px;
		background-color: var(--background);
	}

	article #input button {
		all: unset;
		position: relative;
		width: 30px; height: 30px;
		cursor: pointer;
	}

	article #input button::before,
	article #input button::after {
		content: '';
		position: absolute;
		top: 10px; left: 4px;

		border: 10px solid var(--secondary);
		border-bottom-color: transparent;
		border-top: none;
		border-radius: 3px;

		transform: rotate(45deg);
	}

	article #input button::after {
		top: 5px; left: 10px;
		transform: rotate(0);

		border: 7px solid var(--secondary);
		border-left-color: transparent;
		border-bottom-color: transparent;
	}

	article #message-list {
		flex: 1 1 auto;
		overflow-y: auto;
	}

	article .message {
		display: flex;
		flex-flow: row nowrap;
		align-items: start;
		gap: 20px;
		margin: 15px;
	}


	article .message img {
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}

	article .message p {
		flex: 1 1 auto;
		margin: 0;
		background-color: var(--background);
		border-radius: 5px;
		padding: 5px 10px;
		position: relative;
		z-index: 201;
	}

	article .message p span {
		color: var(--secondary);
		font-weight: bold;
		font-size: 14px;
		display: block;
	}

	article .message p::before {
		content: '';

		position: absolute;
		top: 5px; left: -5px;
		width: 10px; height: 10px;

		border-radius: 3px;
		background-color: darkred;
		transform: rotate(45deg);
		background-color: var(--background);
	}

	article .message.sent p::before {
		left: auto;
		right: -5px;
	}

	article .message.sent {
		flex-direction: row-reverse;
	}

	article .message.sent p span {
		color: var(--primary-txt);
	}

	@keyframes sending {
		from { transform: rotate(0); }
		50%  { transform: rotate(360deg); }
		to   { transform: rotate(360deg); }
	}

	article .message p.sending::after {
		content: '';

		position: absolute;
		bottom: 3px; right: 3px;

		width: 7px; height: 7px;
		border-radius: 3px;

		background-color: var(--primary);
		box-shadow: 0 0 3px var(--primary);
		animation: sending 1s infinite;
		transform-origin: top left;
	}

	article #close {
		all: unset;
		position: absolute;
		top: -16px; right: 15px;
		color: var(--gold);
		font-weight: bold;
		cursor: pointer;
		z-index: 299;
	}

</style>