<script>
	import { fly, fade } from 'svelte/transition';

	let notes = [
		{
			title: "Titre 1", created_by: "Joueur 1", created_time: "13:47",
			content: [
				{ type: "text", body:
`Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.` },
				{ type: "audio", id: "AkdOIA34Qm", duration: 391 },
				{ type: "text", body: "Il y avait ça près de la porte :" },
				{ type: "image", id: "PA021754" },
				{ type: "image", id: "ZMOSOJENQ" },
				{ type: "audio", id: "ODIE0", duration: 391 },
				{ type: "image", id: "SMSLJDOZ" }
			]
		},

		{
			title: "Nouvelle note", created_by: "Joueur 2", created_time: "13:56",
			content: []
		},

		{
			title: "Titre 2", created_by: "Joueur 2", created_time: "16:32",
			content: [
				{ type: "text", body: "Une nouvelle petite note" }
			]
		}
		];

	let opened_note = null;
	let image_zoomer = null;
	const createNote = () => {};

	let recordingMic = false;
	const startRecMic = () => {
		recordingMic = true;
	};

	const stopRecMic = () => {
		recordingMic = false;
	};
</script>

<h1>Notes</h1>
<section>
	<button id="create-note" on:click={createNote}>Nouvelle note</button>

	{#each notes as note, i}
		<button class="note" on:click={() => opened_note = note }>
			<b>{note.title}</b>
			<span>Note créée par {note.created_by} à {note.created_time}</span>
		</button>
	{/each}



</section>

{#if opened_note != null}
	<article transition:fly={{ duration: 400, y: "100svh", opacity: 1 }}>
		<button id="close-note" on:click={() => opened_note = null}>Fermer la note</button>

		<h2 contenteditable=true>{opened_note.title}</h2>

		{#each opened_note.content as {type, id, body} }
			{#if type == "text"}
				<p contenteditable=true>{body}</p>
			{:else if type == "audio"}
				<audio src="/user_upload/{id}.mp3" controls></audio>
			{:else if type == "image"}
				<button on:click={() => image_zoomer = id}>
					<img src="/user_upload/{id}.jpg" alt="[Attached image]">
				</button>
			{/if}
		{/each}

		<button class="float f1">IMG</button>
		<button class="float f2" class:recordingMic on:touchstart={startRecMic} on:touchend={stopRecMic}>MIC</button>
	</article>
{/if}

{#if image_zoomer != null}
	<div id="image-zoomer" transition:fade={{ duration: 200 }}>
		<button id="close-zoomer" on:click={() => image_zoomer = null }>Fermer l'image</button>
		<img src="/user_upload/{image_zoomer}.jpg" alt="[Attached image]">
	</div>
{/if}

<style type="text/css">

section button.note {
	all: unset;
	width: 100%;
	padding: 10px 15px;
	overflow: hidden;
	cursor: pointer;
}

section button.note:nth-child(2n) { background-color: var(--background-1); }

section button.note b, section button.note span {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
}

section button.note span {
	font-size: 14px;
}

section button#create-note {
	all: unset;
	color: var(--primary-txt);
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	margin: 0 auto;
	padding: 20px;
	display: block;
}

article {
	position: absolute;
	top: 64px; left: 0;
	width: 100svw;
	height: calc(100svh - 64px);
	padding: 15px;
	overflow-y: auto;

	background-color: var(--background-1);
}

article .float {
	all: unset;
	width: 40px; /* Real size = 40x40. Shown = 32x32 */
	height: 40px;
	cursor: pointer;

	position: fixed;
	bottom: 15px; right: 15px;
	user-select: none;
}

article .float::before {
	content: '';
	width: 32px;
	height: 32px;

	position: absolute;
	top: 4px; left: 4px;

	border-radius: 50%;
	background-color: var(--gold);

	transition: background-color .2s, transform .2s;
	z-index: -1;
}

article .float.f1 {
	right: 57px;
}

article .recordingMic::before {
	transform: scale(1.2) translateY(-5px);
	background-color: #F22;
}

article #close-note, #close-zoomer {
	all: unset;
	position: absolute;
	top: 10px; right: 15px;
	color: var(--gold);
	font-weight: bold;
	cursor: pointer;
}

article button {
	all: unset;
	width: 100%;
	display: block;
	cursor: pointer;
}

article h2 {
	font-size: 24px;
	margin: 20px 0 10px;
	outline: none;
}

article p {
	font-size: 16px;
	outline: none;
}

article p, article audio, article img {
	display: block;
	margin: 25px auto;
	max-width: 100%;
}

article audio {
	width: 600px;
}

article img {
	color: #F55;
	text-align: center;
	max-height: 50svh;
	background-image: linear-gradient(-45deg,
		#FFF2 4.5%, #FFF0 4.5%,
		#FFF0 44%, #FFF2 45%, #FFF2 55%, #FFF0 55%,
		#FFF0 95%, #FFF2 95%);
	background-size: 50px 50px;
	background-repeat: repeat;
}

@media (orientation: landscape) {
	article img {
		max-height: 70svh;
	}
}


#image-zoomer {
	position: fixed;
	top: 0; left: 0;
	width: 100svw;
	height: 100svh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #000A;
	z-index: 200;
}

#image-zoomer img {
	max-width: 90svw;
	max-height: 90svh;
}


</style>