<script>
	import { fly } from 'svelte/transition';
	import { onMount } from 'svelte';

	let waypointDetails = null;

	let map = {
		image: 'AodIz934',
		topleft: { long: -70.7333, lat: -47 },
		bottomright: { long: -72.7333, lat: -45 }
	};

	let player = {
		long: null, lat: null, watchID: null
	};

	let waypoints = [
			{ id: "MqPtka4AE", long: -70.8, lat: -46, note: "Peut-être quelque chose ici" },
			{ id: "sKRoqXgfe", long: -72, lat: -46.6543, note: "Coffre trouvé ici" }
		];

	const coordsToPX_X = (coords) => {
		if (map_elem == null) return 0;
		const ratio = (coords.long - map.topleft.long) / (map.bottomright.long - map.topleft.long);
		return (ratio > 0 && ratio < 1) ? map_elem.clientWidth * ratio : null;
	}

	const coordsToPX_Y = (coords) => {
		if (map_elem == null) return 0;
		const ratio = (coords.lat - map.topleft.lat) / (map.bottomright.lat - map.topleft.lat);
		return (ratio > 0 && ratio < 1) ? map_elem.clientHeight * ratio : null;
	};


	let map_elem = null;
	onMount(() => {
		map_elem = document.getElementById("map");
		updateMap();

		if ("geolocation" in navigator) {
			player.watchID = navigator.geolocation.watchPosition(
			(pos) => { // On Fix
				player.lat  = pos.coords.latitude;
				player.long = pos.coords.longitude;
				updatePlayerPoint();
			},
			(error) => { // On Error
				console.error(error);
				player.fixError = true;
			},
			// Options
			{ enableHighAccuracy: true, maximumAge: 3000 });
		} else {
			console.error("Geolocation unavailable in this browser")
			player.fixError = true;
		}

		return () => {
			if (player.watchID != null)
				navigator.geolocation.clearWatch(player.watchID);
		}
	});

	const updatePlayerPoint = () => {
		if (player.long == null || player.lat == null)
			return;

		player.x = coordsToPX_X(player);
		player.y = coordsToPX_Y(player);

		if (player.x == null || player.y == null) {
			player.outOfMap = true;
			player.x = null;
			player.y = null;
		} else {
			player.outOfMap = null;

			// Substract the half of width and height to point on the center
			player.x -= 7.5;
			player.y -= 7.5;
		}
	};

	const updateMap = () => {
		// Recalculate all waypoint positions
		for (const i in waypoints) {
			waypoints[i].x = coordsToPX_X(waypoints[i]);
			waypoints[i].y = coordsToPX_Y(waypoints[i]);

			if (waypoints[i].x == null || waypoints[i].y == null) {
				waypoints[i].x = null;
				waypoints[i].y = null;
			} else {
				// Substract the half of width and the total height to point with the tip
				waypoints[i].x -= 10;
				waypoints[i].y -= 20;
			}
		}

		updatePlayerPoint();
	};

</script>

<svelte:window on:resize={updateMap} />

<h1>Map</h1>
<section>
	<img id="map" on:click={() => waypointDetails = null} src="/game_resources/map_{map.image}.png" alt="Map background">
	<div id="player" class:unfixed={player.long == null} style:left={player.x + "px"} style:top={player.y + "px"}></div>

	{#each waypoints as w (w.id)}
		<button class="waypoint" style:top={w.y + "px"} style:left={w.x + "px"} on:click={() => waypointDetails = w}></button>
	{/each}

	<button class="float f2">WP</button>
	<button class="float f1">POS</button>

	{#if waypointDetails}
	<div class="waypoint-details" transition:fly={{ duration: 400, y: "100svh", opacity: 1 }}>
		<button on:click={ console.error("Add to compass") }>R</button>
		<span>{waypointDetails.lat},{waypointDetails.long}</span>
		<p contenteditable="true">{waypointDetails.note}</p>
	</div>
	{/if}

</section>

<div class:out-of-map={player.outOfMap} class:fix-error={player.fixError} id="errors"></div>

<style type="text/css">
	section {
		position: relative;
		overflow: auto;
	}

	div::after {
		position: absolute;
		top: 64px; left: 0;
		width: 100%;

		text-align: center;
		font-weight: bold;

		opacity: .7;
		z-index: 199;
	}

	div.out-of-map::after {
		content: 'En dehors des limites';
		color: var(--foreground-warn);
		background-color: var(--background-warn);
	}

	div.fix-error::after {
		content: 'Impossible de géolocaliser';
		color: var(--foreground-error);
		background-color: var(--background-error);
	}

	#map {
		min-height: 100svh;
		min-width: 100svw;
	}

	#player {
		position: absolute;
		width: 15px; height: 15px;
		border-radius: 50%;
		top: -30px;
		border: 2px solid var(--border);
		background-color: var(--secondary);
	}

	@keyframes unfixed {
		from { background-color: var(--secondary);  }
		50%  { background-color: var(--background); }
		to   { background-color: var(--secondary);  }
	}

	#player.unfixed {
		animation: unfixed 2s infinite;
	}

	.waypoint {
		all: unset;
		position: absolute;
		background-color: var(--primary);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		top: -40px;
		cursor: pointer;
	}

	.waypoint::before {
		content: '';
		border: 7px solid var(--primary);
		border-top-color: transparent;
		border-left-color: transparent;
		transform: rotate(45deg);

		position: absolute;
		top: 6px;
		left: 3px;
	}

	.waypoint-details {
		position: fixed;
		bottom: 0; left: 0;
		width: 100svw;
		background-color: var(--background);
		z-index: 110;
	}

	.waypoint-details button {
		all: unset;
		cursor: pointer;
		background-color: var(--gold);
		width: 25px; height: 25px;
		margin: 5px;
		border-radius: 50%;
		vertical-align: middle;
	}

	.waypoint-details span {
		color: var(--gold);
		font-size: 14px;
		font-weight: bold;
	}

	.waypoint-details p {
		margin: 10px 15px;
	}

	.float {
		all: unset;
		width: 40px; /* Real size = 40x40. Shown = 32x32 */
		height: 40px;
		cursor: pointer;

		position: fixed;
		right: 15px;
		user-select: none;
		z-index: 111;
	}

	.float::before {
		content: '';
		width: 32px;
		height: 32px;

		position: absolute;
		top: 4px; left: 4px;

		border-radius: 50%;
		background-color: var(--gold);

		transition: background-color .2s, transform .2s;
		z-index: -1;
	}

	.f1 { bottom: 15px; }
	.f2 { bottom: 57px; }

</style>