<script>
	let rotation = 0;
	let waypoint_orientation = 0;
	$: console.log("r=", rotation, "w=", waypoint_orientation, "t=", waypoint_orientation + rotation)
</script>

<h1>Boussole</h1>
<section>
	<div id="cordinals" style:--rotation={rotation}>
		<span id="n">N</span>
		<span id="e">E</span>
		<span id="s">S</span>
		<span id="w">W</span>
		<span id="ne">ne</span>
		<span id="se">se</span>
		<span id="sw">sw</span>
		<span id="nw">nw</span>
	</div>

	<div id="waypoint" style:--rotation={rotation + waypoint_orientation}></div>

	<!--temporary -->
	<input type="range" min=-360 value=0 max=360 on:input={(e) => rotation = parseInt(e.target.value)} style="position:fixed;bottom:30px;width:100svw" name="">
	<input type="range" min=-360 value=0 max=360 on:input={(e) => waypoint_orientation = parseInt(e.target.value)} style="position:fixed;bottom:0;width:100svw" name="">
</section>

<style type="text/css">
	section {
		position: relative;
	}

	#cordinals {
		position: absolute;
		top: 15svw; left: 15svw;
		width: 70svw; height: 70svw;

		border: 1px solid #AAA;
		border-radius: 50%;
		background-color: var(--background-1);

		transform-origin: center;
		transform: rotate(calc(var(--rotation)*1deg));
	}

	#cordinals::before, #cordinals::after, #waypoint::before {
		content: '';
		border-top: 4svw solid #A55;
		border-left: 4svw solid #A55;
		border-right: 1svw solid transparent;
		border-bottom: 1svw solid transparent;

		transform-origin: center;
		transform: rotate(45deg);

		/* width = ~7svw */
		position: absolute;
		top: -2.5svw; left: 32.5svw;
		width: 0; height: 0;
	}

	#cordinals::after {
		border-top: 4svw solid #88D;
		border-left: 4svw solid #88D;
		transform: rotate(-135deg);
		bottom: -2.5svw; top: auto;
	}

	#waypoint {
		position: absolute;
		top: 15svw; left: 15svw;
		width: 70svw; height: 70svw;

		transform-origin: center;
		transform: rotate(calc(var(--rotation)*1deg));
		border: 1px solid transparent;
	}

	#waypoint::before {
		border-top: 4svw solid var(--gold);
		border-left: 4svw solid var(--gold);
	}

	#cordinals #n, #cordinals #e, #cordinals #s, #cordinals #w,
	#cordinals #ne, #cordinals #se, #cordinals #sw, #cordinals #nw {
		transform-origin: center;
		transform: rotate(calc(var(--rotation)*-1deg));
	}

	#cordinals #n, #cordinals #e, #cordinals #s, #cordinals #w {
		font-size: 9svw;
		font-weight: bold;
		line-height: 9svw;
		position: absolute;
	}

	#cordinals #n { top: -12svw; width: 100%; text-align: center; }
	#cordinals #s { bottom: -12svw; width: 100%; text-align: center; }
	#cordinals #w { top: 30.5svw; left: -12svw }
	#cordinals #e { top: 30.5svw; right: -8svw }


	#cordinals #ne, #cordinals #se, #cordinals #sw, #cordinals #nw {
		font-size: 6svw;
		font-weight: bold;
		position: absolute;
	}

	#cordinals #ne { top: 3svw; right: 3svw }
	#cordinals #se { bottom: 3svw; right: 3svw }
	#cordinals #sw { bottom: 2svw; left: 2svw }
	#cordinals #nw { top: 2svw; left: 2svw }

</style>