/*
	Z-Indexes :
		- Home screen : 0-99
		- App : 100-199
		- App pop-up / dialogs : 200-299
*/

:root {
	--primary: purple;
	--primary-1: #b50fb5;
	--primary-2: purple;

	--primary-txt: #c161ec;
	--secondary: #55F;
	--gold: #e3aa21;

	--background: #242424;
	--background-1: #333;
	--background-2: #555;

	--background-error: #F55;
	--foreground-error: #500;
	--background-warn: #FF4;
	--foreground-warn: #651;

	--border: #333;
	--border-1: #444;
	--border-2: #666;

	--shadow: #1A1A1A;


	font-family: system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #EEE;
	background-color: var(--background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}


.icon {
	width: 32px;
	height: 32px;
}

.icon-sm {
	width: 24px;
	height: 24px;
}

.flex-space { flex-grow: 1 !important }

button.close {
	all: unset;

	position: absolute;
	top: 15px; left: 15px;
	width: 32px; height: 32px;
	z-index: 199;

	cursor: pointer;
	background-image: url("./assets/close.png");
}