<script>
	import { connected } from './Stores.js';
	import { fly } from 'svelte/transition'

	import Asset_Coin from './assets/coin.png';
	import Asset_Connected from './assets/connected.png';
	import Asset_Disconnected from './assets/disconnected.png';

	import AppProgress from './App-Progress.svelte';
	//import AppProgressIcon from './assets/app-icon/progress.png';
	
	import AppNotes from './App-Notes.svelte';
	import AppNotesIcon from './assets/app-icon/notes.png';

	import AppMap from './App-Map.svelte';
	import AppMapIcon from './assets/app-icon/map.png';

	import AppCompass from './App-Compass.svelte';
	//import AppCompassIcon from './assets/app-icon/compass.png';

	import AppMessages from './App-Messages.svelte';
	import AppMessagesIcon from './assets/app-icon/messages.png';

	const apps = [
		{ name: "Progression",	module: AppProgress,	icon: null },
		{ name: "Map",			module: AppMap,			icon: AppMapIcon },
		{ name: "Boussole",		module: AppCompass,		icon: null  },
		{ name: "Notes",		module: AppNotes,		icon: AppNotesIcon },
		{ name: "Messages",		module: AppMessages,	icon: AppMessagesIcon  }
	];

	let running_app = null;
	let coin_count = 102;
</script>

<main>
	<header>
		<div id="line"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
	</header>

	<section class:no-overflow={running_app != null}>
		{#each apps as app}
			<button id="app" on:click={() => running_app = app.module }>
				<img src={app.icon} alt="{app.name}'s logo" title="{app.name}'s logo">
				<span>{app.name}</span>
			</button>
		{/each}
	</section>

	<footer>
		<img id="pp" src="/src/assets/detective.png" alt="PP" title="Profile">
		<span>Team Ratatouille</span>

		<div class="flex-space"></div>

		<img class="icon-sm" alt="Coins:" src={Asset_Coin}> {coin_count}
		<img class="icon-sm" alt="Connecté" src={$connected ? Asset_Connected : Asset_Disconnected}>
	</footer>
</main>

{#if running_app != null}
	<div id="running-app" transition:fly={{ duration: 400, x: "100svw", opacity: 1 }}>
		<button class="close" on:click={() => running_app = null }></button>
		<svelte:component this={running_app}></svelte:component>
	</div>
{/if}
<style>
	main {
		display: flex;
		flex-flow: column nowrap;
		height: 100svh;
	}


	header, footer {
		flex-grow: 0;
	}

	header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;

		position: relative;
		padding: 15px 0;
		background-color: var(--background-1);
		border-bottom: 2px solid var(--border-1);
	}

	header #line {
		position: absolute;
		left: 5svw; top: 32px;
		width: 90svw;
		height: 16px;
		border-radius: 8px;

		background-color: var(--primary-1);
		z-index: 1;
	}

	header .bubble {
		width: 50px;
		height: 50px;
		border-radius: 50px;

		background-color: var(--primary);
		z-index: 2;
	}

	section {
		flex-grow: 1;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		gap: min(50px, 10svw);
		padding: min(50px, 10svw);
		margin: auto;
		max-width: 600px;
		overflow-y: auto;
	}

	section.no-overflow {
		overflow-y: hidden;
	}

	section::after {
		content: "";
		flex: auto;
	}

	section #app {
		all: unset;
		margin: auto 0;
		cursor: pointer;
	}

	section #app img {
		width: min(75px, 20svw);
		height: min(75px, 20svw);
		display: block;
		overflow: hidden;
	}

	section #app span {
		display: block;
		width: min(75px, 20svw);
		margin-top: 5px;

		max-height: 40px;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;

		text-align: center;
	}

	footer {
		display: flex;
		flex: row no-wrap;
		gap: 12px;

		align-items: center;

		padding: 15px;
		border-top: 2px solid var(--border-1);
		background-color: var(--background-1);
	}

	footer * {
		flex-grow: 0;
	}

	footer #pp {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 2px solid var(--border-1);
	}

	#running-app {
		position: fixed;
		top: 0; left: 0;
		width: 100svw;
		height: 100svh;
		z-index: 100;

		background-color: var(--background);
	}

	#running-app :global(h1) {
		position: absolute;
		top: 6px; left: 64px;
		margin: 0;
		font-size: 32px;
	}

	#running-app :global(section) {
		margin-top: 64px;
		max-height: calc(100svh - 64px);
	}

</style>
